.form {
    color: white;
    display: inline-block;
}
.img_band_content {
    display: inline-block;
    vertical-align: top;
}

.contact_title {
    color:white;
    margin-bottom: 59px;
    text-align: center;
}
.text_area {
    height: 227px;
    width: 548px;

}
@media only screen and (max-width: 770px) {
    .img_band_content {
        width: 50%;
    }
}
#name{
    border-radius: 3px;
}
.form-control {
    width: 200px !important;
    flex:none !important;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}