.title_history {
    color: white;
    text-align: center;
}
.p_history {
    line-height: 1.7;
    padding-top: 13px;
    padding-bottom: 13px;
}
.p_history_bottom {
    padding-top: 13px;
    padding-bottom: 13px;
}